a { cursor: pointer; }
.indexLi {
    float: left; margin-right: 5%;
}
.indexUl { 
    justify-content: center;
        position: relative; 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;        
    }
.text-center {
    display: flex;
    justify-content: center;
}